body {

}

h2 {
      height: 50px;
      text-align: center;

}

#weatherLayout {
      height: 100px;
}

.p3 {
      background-color: sandybrown;
      font-size: large;

}

p {
      margin: 0px;
}

.button {
      border: 0;
      height: 20px;
      line-height: 2.5;
      padding: 0 20px;
      font-size: 1rem;
      text-align: center;
      color: #fff;
      text-shadow: 1px 1px 1px #000;
      border-radius: 10px;
      background-color: rgb(80, 68, 193);
}

#weatherLine {
      display: flex;
      flex-direction: row;
}

#fiveRow {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

}

#field {
      
      margin: 0px;
      width: 1400px;

}

#searchButton {
      background-color: rgb(80, 68, 193);
      border: 0;
      color: rgb(red, green, blue);
}

#clearButton {
      background-color: rgb(80, 68, 193);
      border: 0;
      color: rgb(red, green, blue);
}

#five {
      margin-top: 20px;
      justify-content: space-evenly;
}

.weather-button {
      border: 5px;
      margin: 5px;
      text-align: left;
      background-color: skyblue;
      font-size: 12;
      height: 50px;
}

.forecasts {
      display: flex;
      flex-direction: row;
      margin: 0px;
      padding: 0px;
      text-align: left;
      float: left;
      text-size-adjust: auto;
}

