h3 {
      height: 50px;
      text-align: center;

}

#weatherLayout {
      height: 100px;
}

p {
      margin: auto;
}

.button {
      border: 0;
      height: 20px;
      line-height: 2.5;
      padding: 0 20px;
      font-size: 1rem;
      text-align: center;
      color: #fff;
      text-shadow: 1px 1px 1px #000;
      border-radius: 10px;
      background-color: rgb(80, 68, 193);
}